<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CptS 451</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${adminFirstName} + ' ' + ${adminLastName} + '!'"></h1>

<h2>Account Details </h2>
<h3 th:text="'Email: ' + ${adminEmail}"></h3>
<h3 th:text="'Phone Number: ' + ${adminPhoneNumber}"></h3>

<a href="/createProductPage">Create New Product</a>

<h3>List of Products:</h3>
<table style="border: solid">
    <thead>
    <tr>
        <th> Name </th>
        <th> ID </th>
        <th> Description </th>
        <th> Price </th>
        <th> Quantity </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.getProductName()}"></td>
        <td th:text="${product.getProductID()}"></td>
        <td th:text="${product.getProductDescription()}"></td>
        <td th:text="'$' + ${product.getProductPrice()}"></td>
        <td th:text="${product.getProductQuantity()}"></td>
    </tr>
    </tbody>
</table>
<br>

<h3>List of Admins:</h3>
<table style="border: solid">
    <thead>
    <tr>
        <th> Name </th>
        <th> ID </th>
        <th> Email </th>
        <th> Phone Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="admin: ${admins}">
        <td th:text="${admin.getFirstName()} + ' ' + ${admin.getLastName()}"></td>
        <td th:text="${admin.getId()}"></td>
        <td th:text="${admin.getEmail()}"></td>
        <td th:text="${admin.getPhoneNumber()}"></td>
    </tr>
    </tbody>
</table>
<br>

<h3>List of Customers:</h3>
<table style="border: solid">
    <thead>
    <tr>
        <th> Name </th>
        <th> ID </th>
        <th> Email </th>
        <th> Phone Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}"></td>
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getPhoneNumber()}"></td>
    </tr>
    </tbody>
</table>
<br>

<p>
    <a href="/">Click here to logout and return to the home page</a>
</p>

</body>
</html>