<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .create-category-link {
            padding: 5px 10px;
            background: #009e04;
            color: white;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h1>Create New Product</h1>

<div id="flash" th:if="${error}" style="color: red">
    <p th:text="${error}"></p>
</div>

<form action="" th:action="@{/createProduct}" method="post">
    <p>
        <label for="productName">Product Name:</label>
        <input id="productName" th:field="${product.productName}" type="text" name="productName"/>
    </p>
    <p>
        <label for="productDescription">Product Description:</label>
        <input id="productDescription" th:field="${product.productDescription}" type="text" name="productDescription"/>
    <br />
    <p>
        <label for="productPrice">Product Price ($):</label>
        <input id="productPrice" th:field="${product.productPrice}"
               type="number" name="productPrice"
               min="0.01" step="0.01"
               placeholder="0.00"/>
    </p>
    <p>
        <label for="productQuantity">Product Quantity:</label>
        <input id="productQuantity" th:field="${product.productQuantity}"
               type="number" name="productQuantity"
               min="0" step="1"
               placeholder="0"/>
    </p>
    <p>
        <label for="productCategory">Category:</label>
        <select id="productCategory" name="productCategory" required>
            <option value="">Select a Category</option>
            <option th:each="category : ${categories}"
                    th:value="${category.categoryID}"
                    th:text="${category.categoryName}">
            </option>
        </select>
        <a href="/createCategoryPage" class="create-category-link">Create New Category</a>
    </p>
    <br>
    <p><input type="submit" value="Create Product" /></p>
</form>

<p>
    <a href="/adminHome">Return to Admin Home</a>
</p>
</body>
</html>