<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Customer Account</h1>

<div id="flash" th:if="${errorMessage}" style="color: red">
    <p th:text="${errorMessage}"></p>
</div>

<form action="" th:action="@{/createCustomer}" method="post">
    <p>First Name: <input th:field="${customer.firstName}" type="text" name="firstName" /></p>
    <p>Last Name: <input th:field="${customer.lastName}" type="text" name="lastName" /></p>
    <br />
    <p>Email: <input th:field="${customer.email}" type="text" name="email" /></p>
    <p>Phone Number: <input th:field="${customer.phoneNumber}" type="text" name="phoneNumber" /></p>
    <p>Password: <input th:field="${customer.password}" type="password" name="password" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>

<p>
    <a href="/">Click here to return to the home page</a>
</p>
</body>
</html>