<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CptS 451</title>
    <style>
        .store-page-link {
            padding: 5px 10px;
            background: #2dcbbf;
            color: white;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h1 th:text="'Welcome ' + ${customerFirstName} + ' ' + ${customerLastName} + '!'"></h1>

<h2>Account Details </h2>
<h3 th:text="'Email: ' + ${customerEmail}"></h3>
<h3 th:text="'Phone Number: ' + ${customerPhoneNumber}"></h3>

<p>
    <a href="/storePage" class="store-page-link">Back to Store Page</a>
</p>

</body>
</html>