<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CptS 451</title>
    <style>
        .store-page-link {
            padding: 5px 10px;
            background: #2dcbbf;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h1>Welcome to Cpts 451 Ecomm Application</h1>

<a href="/storePage" class="store-page-link">Go to Store Page!</a>

</body>
</html>